header {
  position: relative;
  background-color: black;
  background-image: url('../images/bg/dg_class.jpg');
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

header .h-100 .display-2
{
color: #495057;
}
.navbar{
  transition: 0.8s;
  -webkit-transition:  0.8s;
}


